@font-face {
    font-family: 'ralewayregular';
    src: url("../fonts/raleway-regular.eot");
    src: url("../fonts/raleway-regular.eot?#iefix") format('embedded-opentype'),
    url("../fonts/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway-regular.woff") format("woff"),
    url("../fonts/raleway-regular.ttf") format("truetype"),
    url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ralewaybold";
    src: url("../fonts/raleway-bold.eot");
    src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/raleway-bold.woff2") format("woff2"),
    url("../fonts/raleway-bold.woff") format("woff"),
    url("../fonts/raleway-bold.ttf") format("truetype"),
    url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ralewaylight";
    src: url("../fonts/raleway-light.eot");
    src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/raleway-light.woff2") format("woff2"),
    url("../fonts/raleway-light.woff") format("woff"),
    url("../fonts/raleway-light.ttf") format("truetype"),
    url("../fonts/raleway-light.svg#ralewaylight") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background:  linear-gradient(to bottom, rgba(254,254,254,1) 7%, rgba(254,254,254,1) 10%,
    rgba(229,229,229,1) 69%, rgba(226,226,226,1) 76%);

    font-family: ralewayregular, arial;
    margin: 0 auto;
    padding:0;
    width:100%;

}

.width_section{
    margin:0 auto;
    width:870px;
}

header{
    background: #000000;
    color:#FFF;
    font-family:ralewaybold;
    font-size: 10px;
    height:20px;
    margin:0;
    padding-top:5px;
    position:relative;
    width:100%;
}
.span1{
    color:#26c7a9;
}
.width_section .menu ul{
    float:right;
    margin:0;
    padding:0;


}
.width_section .menu ul li{
    color:white;
    display:inline;
    height:20px;
    list-style-type: none;
    margin: 0 30px 0 20px;
    text-transform:uppercase;
    width:60px;
}
.width_section span{
    font-family:ralewaybold;
    text-transform: uppercase;
}

.sit_on .width_section{
    height:800px;
    text-align: center;
    width:100%;
}

.sit_on .width_section .article{
    display:inline-block;
}

.sit_on .article img{
    float:left;
    height:400px;
    margin:0;
    width:465px;
}
.sit_on .art_1{
    float:right;
    height: 400px;
    margin-top: 40px;
    padding-right: 25px;
    text-align: center;
    width: 400px;
}
.sit_on .art_1 h1{
    font-size:40px;
    text-transform: uppercase;
    text-align: left;
}

.sit_on button{
    border-radius:15px;
    background:#26c7a9;
    color:white;
    height:50px;
    margin-top:20px;
    padding:5px;
    text-transform: uppercase;
    width:200px;
}
.sit_on .img_text{
    background:#FFFFFF;
    display:inline-block;
    height:300px;
    padding-top: 35px;
    width:870px;
}
.sit_on .box{
    display:inline-block;
    float:left;
    margin:10px;
}
.sit_on .box1{
    height:200px;
    position: relative;
    width:200px;
}
.sit_on .box2{
    height:200px;
    width:200px;
}
.sit_on .img_text .name_1{
    background:rgba(224,224,224,0.5);
    bottom:-50px;
    display:inline-block;
    color:#000000;
    height:50px;
    margin:0;
    position:absolute;
    padding:0  0 0 10px;
    width:190px;
    z-index:3;
}
.sit_on .name_1 .hr1{
    background:#26c7a9;
    height: 4px;
    margin:0;
    padding:0;
    width:100px;
}
.sit_on .img_text p{
    font-family: ralewaybold;
    font-size:15px;
    margin:15px 0 0 0px;
    padding:0;
    text-align:left;
}
.sit_on .img_text .uppercase{
    text-transform: uppercase;
}
.sit_on .img_text .name_2{
    bottom:-50px;
    background:rgba(224,224,224,0.5);
    color:#000000;
    display:inline-block;
    heigth:50px;
    margin:0;
    padding:0 0 10px 10px;
    position:absolute;
    width:190px;
    z-index:3;

}
.sit_on .img_text .hr2{
    background:#26c7a9;
    height: 4px;
    margin:0;
    padding:0;
    width:140px;
}
.sit_on .img_text .text_2{
    box-shadow:0px 0px 5px 0 #C0C0C0;
    float:left;
    font-family:ralewayregular;
    font-size:15px;
    height:200px;
    margin-top:10px;
    padding:15px;
    text-align:left;
    width:400px;
}
.sit_on .img_text h3{
    font-family:ralewaybold;
    font-size: 19px;
    margin:0;
    padding:0;
}
.sit_on .img_text .hr3{
    background:#26c7a9;
    height:4px;
    float:left;
    margin:0;
    overflow: hidden;
    padding:0;
    width:150px;
}
.price_list .width_section{
    display:inline-block;
    height:650px;
    text-align: center;
    width:100%;
}
.price_list .width_section .plan{
    display:inline-block;
    height: 500px;
    margin-top:60px;
    padding-top:60px;
    width: 870px;
}
.price_list .width_section h3{
    float:left;
    font-family: ralewaylight;
    margin:-123px 0 0 0;
    padding:0;

}
.price_list .width_section .hr4{
    background:#26c7a9;
    height:4px;
    margin:-100px 0 0 0;
    padding:0;
    text-align:left;
    width:150px;
}

.price_list h2{
    font-family: ralewaylight;
    font-size: 20px;
    text-transform: uppercase;
    padding:0;
}
.price_list .plan ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
.price_list .plan .circle {
    border-radius:50%;
    background:#FFFFFF;
    border:2px solid #C0C0C0;
    box-sizing: border-box;
    display: inline-block;
    height:50px;
    margin-left:120px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    width:50px;
    z-index: 3;
}
.price_list .plan .circle2 {
    border-radius:50%;
    background:#C0C0C0;
    border:2px solid #FFFFFF;
    display:inline-block;
    height:25px;
    line-height:100px;
    margin-top: 9px;
    text-align: center;
    width:25px;
}
.price_list .plan .basic{
    box-shadow:0px 0px 5px 0 #000000;
    display: inline-block;
    height:400px;
    line-height: 50px;
    margin:0 15px 0 15px;
    position: relative;
    text-align: center;
    width:250px;
}
.price_list .plan .standard{
    background:#26c7a9;
    display: inline-block;
    line-height: 50px;
    margin:0 15px 0 15px;
    height:400px;
    position:relative;
    text-align: center;
    width:250px;
    vertical-align:top;
}
.price_list .plan .advance{
    box-shadow:0px 0px 5px 0 #000000;
    display: inline-block;
    height:400px;
    line-height: 50px;
    margin:0 15px 0 15px;
    position:relative;
    width:250px;
    vertical-align: top;

}
.price_list h2{
    color:#000000;
    text-transform: uppercase;
}
.price_list .plan .hr4{
    height: 5px;
    background:#26c7a9;
    float:left;
    width:150px;
}

.price_list .plan .circle_inside{
    border-radius:50px;
    border:2px solid #E0E0E0;
    box-sizing: border-box;
    display: inline-block;
    font-family: ralewaybold;
    height:100px;
    line-height: 1;
    text-align: center;
    padding-top: 25px;
    width:100px;
    z-index: 3;

}
.price_list .plan sup{
    font-size: 20px;
    vertical-align:super;
}
.price_list .plan sub{
    font-size: 10px;
    vertical-align: sub;
}
.price_list .plan li:nth-child(-2n+4){
    background:rgba(163,163,163, 0.5);
    font-size: 15px;
    font-family: ralewaylight;
    height:20px;
    line-height:2;
    margin-top:10px;
    padding-bottom: 10px;
    width:247px;
}
.price_list .plan li:nth-child(2n+3){
    background:rgba(210,210,210, 0.5);
    font-size: 15px;
    font-family: ralewaylight;
    height:20px;
    line-height:2;
    margin-top:10px;
    padding-bottom: 10px;
    width:247px;
}
.price_list .plan button{
    border-radius:10px;
    background:#26c7a9;
    color:#FFFFFF;
    display:inline;
    font-family: ralewaylight;
    height:30px;
    padding:5px;
    text-transform: uppercase;
    width:100px;
}
.price_list .plan .standard{
    background:#26c7a9;

}
.price_list .standard .circle{
    background:#26c7a9;
    border:2px solid #26c7a9;
    margin-left: -28px;
}
.price_list .standard .circle2{
    background:#FFFFFF;
    border:1px solid #FFFFFF;
    margin: 10px 0 0 0;
}
.price_list .standard .circle_inside{
    background:#FFFFFF;

}





.contact .width_section{
    display:inline-block;
    height: 700px;
    text-align: center;
    width:100%;
}
.contact .width_section .plan1{
    background:#FFFFFF;
    display:inline-block;
    font-family: ralewayregular;
    font-size: 15px;
    height:500px;
    margin:50px;
    padding:25px;
    text-align: left;
    width:870px;
}
.contact .plan1 h3{
    display: inline-block;
    margin:0;
    text-align:left;
    text-transform:uppercase;
    padding:0;
}
.contact .width_section .hr5{
    background:#26c7a9;
    height: 4px;
    font-family: ralewaylight;
    font-size: 20px;
    margin:0;
    text-transform: uppercase;
    padding:0;
    width:150px;
}

.contact .data form{
    display:inline-block;
    float:left;
    padding:10px 0 0 0;
    width:400px;
}
.contact input[type=text]{
    font-size: 20px;
    height: 50px;
    margin:15px;
    width: 350px;


}
.contact input[type=email]{
    font-size: 20px;
    height: 50px;
    margin:15px;
    width: 350px;

}
.contact textarea{
    font-size: 20px;
    height:200px;
    margin:15px;
    padding:0;
    resize:none;
    width:350px;

}


.contact .plan1 .red_chair{
    display:inline-block;
    float: right;
    height: 400px;
    margin-left:30px;
    padding-left: 30px;
    width:400px;

}

.contact .plan1 img{
    height:200px;
    text-align:center;
    width:225px;
}

.contact .red_chair button{
    color:#FFFFFF;
    border-radius:15px;
    background:#26c7a9;
    font-family: ralewaybold;
    font-size: 20px;
    height: 50px;
    margin: 35px 0 0 15px;
    text-transform: uppercase;
    text-align: center;
    width: 250px;
}


.contact .red_chair .checkbox{
    display: inline-block;
    margin: 20px;
    text-align: left;
}

footer .width_section .link1{
    border:1px solid green;
    background: #FFFFFF;
    display:inline-block;
    height:50px;
    width:100%;

}

footer .link1{
    text-align: left;
    display:inline-block;
    width:870px;

}
footer .link1 p{
    display:inline-block;
    float:left;
    font-size: 10px;
    font-family: ralewayregular;
    margin:25px 0 0 20px;
}
footer .link{
    display: inline-block;
    float:right;
    margin:10px 150px 0 0;
    width: 170px;
    height: 50px;
}

footer .link1 span{
    font-size:12px;
    font-family: ralewayregular;
    display:inline-block;
    margin:25px -300px 0 0;
    float:right;
}
